 body {
     background-color: #4a4a4a;
 }


 

 div {
     border: solid black;
     background-color: black;
     color: #FFD300
 }

 #blue {
     border: solid black;
     background-color: black;
     color: #cadeed
 }
 #red{ border: solid black;
 background-color: black;
color:red}